.main-contract {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media only screen and (max-width: 900px) {
  .main-contract {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 1536px) {
  .main-contract {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract {
    overflow: hidden;
    margin-top: 100px;
  }
}
.main-contract .banner {
  width: 100%;
  max-height: 55rem;
  height: calc(100vh - 100px);
  background: url("/public/ContrBan.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 769px) {
  .main-contract .banner {
    height: 20rem;
  }
}
.main-contract .banner .banner-gradient {
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.6) 57.81%, rgba(255, 255, 255, 0) 100%);
}
@media only screen and (max-width: 769px) {
  .main-contract .banner .banner-gradient {
    height: 90%;
  }
}
.main-contract .banner .banner-text {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-contract .banner .banner-text h3 {
  width: 35rem;
  color: #002849;
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 110% */
}
@media only screen and (min-width: 1536px) {
  .main-contract .banner .banner-text h3 {
    margin-top: 4rem;
    width: 80rem;
    font-size: 6rem;
    line-height: 6.875rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .banner .banner-text h3 {
    font-size: 1.5rem;
    width: 20rem;
    line-height: 2rem;
  }
}
.main-contract .banner .banner-text p {
  width: 36rem;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 145.455% */
}
@media only screen and (min-width: 1536px) {
  .main-contract .banner .banner-text p {
    width: 65rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .banner .banner-text p {
    font-size: 0.8rem;
    width: 17rem;
    line-height: 1.2rem;
  }
}
.main-contract .services {
  width: 100%;
  background-color: #002849;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contract .services .wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 1536px) {
  .main-contract .services .wrapper {
    padding: 8rem 0;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper {
    padding: 4rem 2rem;
  }
}
.main-contract .services .wrapper h3 {
  width: 40rem;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 114.286% */
  text-transform: capitalize;
}
@media only screen and (min-width: 1536px) {
  .main-contract .services .wrapper h3 {
    width: 70rem;
    font-size: 4.375rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper h3 {
    width: 20rem;
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}
.main-contract .services .wrapper .contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper .contents {
    flex-direction: column;
    gap: 20px;
  }
}
.main-contract .services .wrapper .contents .card {
  width: calc(30% - 20px);
  height: 22rem;
  border: 1px solid white;
  border-bottom: 0;
  border-top: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper .contents .card {
    width: 100%;
    gap: 10px;
    height: 15rem;
    border: 0;
    padding: 0 1rem;
    background: #053c69;
    border-radius: 10px;
  }
}
.main-contract .services .wrapper .contents .card h6 {
  color: #0873cb;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper .contents .card h6 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.main-contract .services .wrapper .contents .card h3 {
  width: 15rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 125% */
  text-align: left;
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper .contents .card h3 {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
.main-contract .services .wrapper .contents .card p {
  height: 50%;
  color: #fff;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 155.556% */
}
@media only screen and (max-width: 769px) {
  .main-contract .services .wrapper .contents .card p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
}
.main-contract .services .wrapper .contents .card:hover {
  background: #053c69;
}
.main-contract .services .wrapper .contents .card:hover h6 img {
  filter: brightness(0) invert(1);
}
.main-contract .commitment {
  width: 100%;
  background: linear-gradient(119deg, #cde8ff -1.11%, rgba(242, 249, 255, 0.47) 49.64%, #e9f5ff 95.36%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contract .commitment .wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (min-width: 1536px) {
  .main-contract .commitment .wrapper {
    padding: 8rem 3rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .commitment .wrapper {
    flex-direction: column-reverse;
    padding: 2rem 2rem;
  }
}
.main-contract .commitment .wrapper .left {
  width: calc(50% - 40px);
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (max-width: 769px) {
  .main-contract .commitment .wrapper .left {
    width: 100%;
    height: 20rem;
    gap: 15px;
  }
}
.main-contract .commitment .wrapper .left h3 {
  width: 30rem;
  color: #000;
  font-family: Poppins;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 114.286% */
}
@media only screen and (min-width: 1536px) {
  .main-contract .commitment .wrapper .left h3 {
    width: auto;
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .commitment .wrapper .left h3 {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}
.main-contract .commitment .wrapper .left p {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.125rem; /* 154.545% */
}
@media only screen and (min-width: 1536px) {
  .main-contract .commitment .wrapper .left p {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contract .commitment .wrapper .left p {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
.main-contract .commitment .wrapper .right {
  width: calc(50% - 40px);
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 769px) {
  .main-contract .commitment .wrapper .right {
    width: 100%;
    height: 13rem;
  }
}
.main-contract .commitment .wrapper .right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main-contract .commitment .wrapper button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: var(--11, #10c08e);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 769px) {
  .main-contract .commitment .wrapper button {
    font-size: 0.9rem;
    height: 40px;
  }
}/*# sourceMappingURL=Contract.css.map */