.main-Blogmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media only screen and (min-width: 1536px) {
  .main-Blogmain {
    margin-top: 150px;
  }
}
.main-Blogmain .banner {
  width: 100%;
  height: 25rem;
  background: var(--22, #003e71);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .banner {
    height: 14rem;
  }
}
.main-Blogmain .banner h3 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.375rem; /* 116.667% */
  text-transform: capitalize;
}
@media only screen and (min-width: 1536px) {
  .main-Blogmain .banner h3 {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .banner h3 {
    font-size: 1.625rem !important;
  }
}
.main-Blogmain .banner p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 141.667% */
}
@media only screen and (min-width: 1536px) {
  .main-Blogmain .banner p {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .banner p {
    width: 20rem;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: left;
  }
}
.main-Blogmain .sections {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 5rem;
}
@media only screen and (max-width: 1200px) {
  .main-Blogmain .sections {
    padding: 4rem 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .sections {
    padding: 0;
  }
}
.main-Blogmain .sections .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 900px) {
  .main-Blogmain .sections .left {
    width: 100%;
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .sections .left {
    padding: 0;
  }
}
.main-Blogmain .sections .left .menu {
  width: 100%;
  border-bottom: 2px solid rgba(168, 170, 179, 0.5);
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-Blogmain .sections .left .menu span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.41463rem; /* 125.745% */
  letter-spacing: 0.01181rem;
  cursor: pointer;
}
@media only screen and (min-width: 1536px) {
  .main-Blogmain .sections .left .menu span {
    font-size: 1rem;
  }
}
.main-Blogmain .sections .left .img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .sections .left .img-wrapper {
    padding: 2rem;
    padding-top: 0 !important;
  }
}
.main-Blogmain .sections .right {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main-Blogmain .sections .right select {
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.43613rem;
  border: 1.308px solid rgba(0, 0, 0, 0.4);
  outline: none;
  color: #000;
  font-family: Poppins;
  font-size: 0.98125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.30831rem; /* 133.333% */
  letter-spacing: 0.01088rem;
}
.main-Blogmain .sections .right .section1 {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 0.6745rem;
  background: #ecf6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.main-Blogmain .sections .right .section1 .section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}
.main-Blogmain .sections .right .section1 .section-wrapper h3 {
  color: #000;
  font-family: Poppins;
  font-size: 1.31044rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.main-Blogmain .sections .right .section1 .section-wrapper .content {
  padding: 1rem;
  min-width: 7rem;
  border-radius: 2.22825rem;
  border: 0.713px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 0.78625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42606rem; /* 181.378% */
  cursor: pointer;
}
.main-Blogmain .sections .right .section1 .section-wrapper .content:hover {
  background: var(--22, #003e71);
  color: white;
}
.main-Blogmain .pagination {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .main-Blogmain .pagination {
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
  .main-Blogmain .pagination :before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Adjust the value to set the width of the border */
    transform: translateX(-50%);
    width: 82%; /* Adjust the value to set the width of the border */
    border-bottom: 0.5px solid grey;
  }
  .main-Blogmain .pagination :after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust the value to set the width of the border */
    transform: translateX(-50%);
    width: 82%; /* Adjust the value to set the width of the border */
    border-bottom: 0.5px solid grey;
  }
}/*# sourceMappingURL=BlogMain.css.map */