
@import '../Css/mixin.scss';

.main-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sm{
        overflow: hidden;
    }
    .about-banner{
    width: 100%;
    max-height: 55rem;
    height: calc(100vh - 100px);
    background: url("/public/AboutBan.png");
    background-size: cover;
    background-position: center;
    position: relative;
    @include sm{
        height: 20rem;
    }
     .banner-gradient{
        width: 100%;
        height: 70%;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.60) 57.81%, rgba(255, 255, 255, 0.00) 100%);
        @include sm{
            height: 80%;
        }
     }
     .banner-text{
        width: 100%;
        position: absolute;
        top: 0;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         gap: 20px;
        h3{
            width: 35rem;
            color: #002849;
            text-align: center;
            font-family: Poppins;
            font-size: 3rem;
            font-style: normal;
            font-weight: 500;
            line-height: 5rem; /* 110% */
            @include xxl{
                margin-top: 4rem;
                width: 70rem;
                font-size: 6.25rem;
                line-height: 6.25rem;
            }
            @include sm{
                font-size: 1.5rem;
                width: 20rem;
                line-height: 2.5rem;
            }
        }
        p{
            width: 48rem;
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 2rem; /* 145.455% */
            @include xxl{
                width: 60rem;
            }
            @include sm{
                font-size: 0.8rem;
                width: 17rem;
                line-height: 1.5rem;
            }
        }
     }
   }
   .intro{
    width: 100%;
    max-width: 1500px;
    padding: 4rem 5rem;
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.125rem; /* 154.545% */
    text-align: left;
    @include xxl{
        font-size: 1.05rem;
        line-height: 2rem;
    }
    @include sm{
         font-size: 0.8rem;
         line-height: 1.25rem;
         padding: 4rem 2rem;
    }
   }
   .mission-vission{
    width: 100%;
    max-width: 1500px;
    padding: 0 5rem;
    padding-bottom: 4rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     @include sm{
        flex-direction: column;
        padding: 0 2rem;
        gap: 30px;
        padding-bottom: 4rem;
     }
    .card{
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 19.15881rem;
        background: linear-gradient(98deg, #FFF 5.15%, #DEFFF6 53.94%, #FFF 95.22%);
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 0 2rem;
        gap: 20px;
        @include sm{
            width: 100%;
            padding: 0 1rem;
            height: 15rem;
        }
        h3{
            color: #000;
            font-family: Poppins;
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.79138rem; /* 129.412% */
            @include xxl{
                font-size: 2rem;
                line-height: 3.125rem;
            }
            @include sm{
                font-size: 1.25rem;
            }
        }
        p{
            color: #000;
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.83631rem; /* 146.907% */
            @include xxl{
                font-size: 1.05rem;
                line-height: 2.125rem;
            }
            @include sm{
                 font-size: 0.8rem;
                 line-height: 1.25rem;
            }
        }
    }
   }

   .commitment{
    width: 100%;
    background: linear-gradient(119deg, #CDE8FF -1.11%, rgba(242, 249, 255, 0.47) 49.64%, #E9F5FF 95.36%);
    display: flex;
    justify-content: center;
    align-items: center;
     .wrapper{
        width: 100%;
        max-width: 1500px;
        padding: 4rem 5rem;
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         @include xxl{
            padding: 8rem 3rem;
        }
        @include sm{
            flex-direction: column-reverse;
            padding: 2rem 2rem;
        }
         .left{
        width: calc(50% - 40px);
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        @include xxl{
            height: 30rem;
        }
        @include sm{
            width: 100%;
            height: 20rem;
            gap: 15px;
        }
        h3{
            color: #000;
            font-family: Poppins;
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 4rem; /* 114.286% */
            @include xxl{
                font-size: 3.8rem;
                line-height: 5rem;
            }
            @include sm{
                font-size: 1.25rem;
            }
        }
        p{
            color: #000;
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 2.125rem; /* 154.545% */
            @include xxl{
                font-size: 1.2rem;
            }
            @include sm{
                font-size: 0.8rem;
                line-height: 1.25rem;
            }
        }
     }
     .right{
        width: calc(50% - 40px);
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include xxl{
            height: 30rem;
        }
        @include sm{
            width: 100%;
            height: 13rem;
        }
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
     }
     }
     
   }
   .usp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xxl{
        padding: 8rem 0;
    }
   }

   .team-section{
      width: 100%;
      background-color: #002849;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapper{
        width: 100%;
        max-width: 1500px;
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
         gap: 30px;
         @include xxl{
            padding: 8rem 3rem;
            gap: 50px;
         }
         @include sm{
            padding: 4rem 2rem;
            gap: 20px;
         }

         .horz-bar{
            width: 100%;
            height: 0.0625rem;
            background-color: #ffffffaa;
         }

        h3{
            color: #FFF;
            font-family: Poppins;
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 5rem; /* 114.286% */
            @include xxl{
                font-size: 3rem;
                line-height: 5rem;
            }
            @include sm{
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        p{
            color: #FFF;
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include xxl{
                font-size: 1.2rem;
                line-height: 2.125rem;
            }
            @include sm{
                font-size: 0.8rem;
                margin-top: -1rem;
            }
        }
         .team{
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include sm{
                flex-direction: column;
                gap: 25px;
            }
             
            h3{
                width: 40rem;
                color: #FFF;
                font-family: Inter;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                @include xxl{
                    font-size: 2rem;
                    line-height: normal;
                }
                @include sm{
                    font-size: 1rem;
                    width: 100%;
                }
            }
            p{
                color: #FFF;
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 2rem; /* 145.455% */
                @include xxl{
                    font-size: 1.1rem;
                    line-height: 2rem;
                }
                @include sm{
                    font-size: 0.75rem;
                    width: 100%;
                    line-height: 1.25rem;
                }
            }
         }
      }
   }

   .awards{
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem;
    @include sm{
        width: 23rem;
        padding: 4rem 2rem !important;
    }
    img{
        width: 80px;
        @include sm{
            width: 80px !important;
        }
    }
    @include sm{
        flex-wrap: wrap;
    }
   }
   
   .contact{
      width: 100%;
      max-width: 1500px;
      padding: 4rem 5rem;
      margin: 4rem 0;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.9375rem;
      background: #F6F6F6;
      @include xxl{
        padding: 8rem 3rem;
    }
    @include sm{
        width: 90%;
        flex-direction: column;
        gap: 20px;
        padding: 4rem 1rem;
    }

      .left{
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        @include sm{
            width: 100%;
        }
        h3{
            color: var(--22, #003E71);
            font-family: Poppins;
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 3rem; /* 114.286% */
            @include xxl{
                font-size: 3rem;
                line-height: 5rem;
            }
            @include sm{
                font-size: 1.25rem;
                line-height: 2rem;
            }
        }
        p{
            color: var(--22, #003E71);
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 2.51238rem */
            @include xxl{
                font-size: 1.5rem;
            }
            @include sm{
                font-size: 0.75rem;
            }
        }
      }
      .right{
          width: calc(50% - 20px);
          display: flex;
          justify-content: center;
          align-items: flex-end;
          @include sm{
            width: 100%;
            justify-content: flex-start;
          }

          button{
            width: 150px;
            height: 50px;
            border-radius: 3.04531rem;
            background: var(--22, #003E71);
            border: none;
            outline: none;
            color: var(--White, #FFF);
            font-family: Poppins;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 160%; /* 2.5rem */
            cursor: pointer;
            margin-top: 10rem;
            @include xxl{
                width: 250px;
                height: 70px;
                font-size: 1.5rem;
                line-height: 2.125rem;
            }
            @include sm{
                margin: 0;
                font-size: 0.9rem;
                height: 40px;
            }
          }
      }
   }
}
