.main-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media only screen and (max-width: 900px) {
  .main-about {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 1536px) {
  .main-about {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 500px) {
  .main-about {
    overflow: hidden;
    margin-top: 100px;
  }
}
.main-about .about-banner {
  width: 100%;
  max-height: 55rem;
  height: calc(100vh - 100px);
  background: url("/public/AboutBan.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .main-about .about-banner {
    height: 20rem;
  }
}
.main-about .about-banner .banner-gradient {
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.6) 57.81%, rgba(255, 255, 255, 0) 100%);
}
@media only screen and (max-width: 500px) {
  .main-about .about-banner .banner-gradient {
    height: 90%;
  }
}
.main-about .about-banner .banner-text {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-about .about-banner .banner-text h3 {
  width: 40rem;
  color: #002849;
  text-align: center;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem; /* 110% */
}
@media only screen and (min-width: 1536px) {
  .main-about .about-banner .banner-text h3 {
    margin-top: 4rem;
    width: 70rem;
    font-size: 6.25rem;
    line-height: 6.25rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .about-banner .banner-text h3 {
    font-size: 1.5rem;
    width: 20rem;
    line-height: 2rem;
  }
}
.main-about .about-banner .banner-text p {
  width: 48rem;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 145.455% */
}
@media only screen and (min-width: 1536px) {
  .main-about .about-banner .banner-text p {
    width: 60rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .about-banner .banner-text p {
    font-size: 0.8rem;
    width: 17rem;
    line-height: 1rem;
  }
}
.main-about .intro {
  width: 100%;
  max-width: 1500px;
  padding: 4rem 5rem;
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.125rem; /* 154.545% */
  text-align: left;
}
@media only screen and (min-width: 1536px) {
  .main-about .intro {
    font-size: 1.05rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .intro {
    font-size: 0.8rem;
    line-height: 1.25rem;
    padding: 2rem 2rem;
  }
}
.main-about .mission-vission {
  width: 100%;
  max-width: 1500px;
  padding: 0 5rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .main-about .mission-vission {
    flex-direction: column;
    padding: 0 2rem;
    gap: 0px;
    padding-bottom: 4rem;
  }
}
.main-about .mission-vission .card {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 19.15881rem;
  background: url("/Rectangle 34624666.png");
  background-size: 100% 100%;
  padding: 0 4rem;
  gap: 0px;
}
@media only screen and (max-width: 500px) {
  .main-about .mission-vission .card {
    width: 100%;
    padding: 0 2rem;
    height: 18rem !important;
  }
}
@media only screen and (max-width: 1200px) {
  .main-about .mission-vission .card {
    height: 22rem;
  }
}
.main-about .mission-vission .card h3 {
  color: black;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.79138rem; /* 129.412% */
}
@media only screen and (min-width: 1536px) {
  .main-about .mission-vission .card h3 {
    font-size: 2rem;
    line-height: 3.125rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .mission-vission .card h3 {
    font-size: 1.25rem;
  }
}
.main-about .mission-vission .card p {
  color: black;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.83631rem; /* 146.907% */
}
@media only screen and (min-width: 1536px) {
  .main-about .mission-vission .card p {
    font-size: 1.05rem;
    line-height: 2.125rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .mission-vission .card p {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
.main-about .mission-vission .about-type2 {
  background: url("/Rectangle 34624667.png");
  background-size: 100% 100%;
}
.main-about .commitment {
  width: 100%;
  background: linear-gradient(119deg, #cde8ff -1.11%, rgba(242, 249, 255, 0.47) 49.64%, #e9f5ff 95.36%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-about .commitment .wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (min-width: 1536px) {
  .main-about .commitment .wrapper {
    padding: 8rem 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .commitment .wrapper {
    flex-direction: column-reverse;
    padding: 2rem 2rem;
  }
}
.main-about .commitment .wrapper .left {
  width: calc(50% - 40px);
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (min-width: 1536px) {
  .main-about .commitment .wrapper .left {
    height: 30rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .commitment .wrapper .left {
    width: 100%;
    height: 20rem;
    gap: 15px;
  }
}
.main-about .commitment .wrapper .left h3 {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem; /* 114.286% */
}
@media only screen and (min-width: 1536px) {
  .main-about .commitment .wrapper .left h3 {
    font-size: 3.8rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .commitment .wrapper .left h3 {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}
.main-about .commitment .wrapper .left p {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.125rem; /* 154.545% */
}
@media only screen and (min-width: 1536px) {
  .main-about .commitment .wrapper .left p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .commitment .wrapper .left p {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
.main-about .commitment .wrapper .right {
  width: calc(50% - 40px);
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1536px) {
  .main-about .commitment .wrapper .right {
    height: 30rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .commitment .wrapper .right {
    width: 100%;
    height: 13rem;
  }
}
.main-about .commitment .wrapper .right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main-about .usp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  padding: 5rem 5rem;
  gap: 10px;
}
@media only screen and (max-width: 500px) {
  .main-about .usp {
    padding: 2rem;
    align-items: flex-start;
    gap: 0;
  }
}
.main-about .usp h3 {
  color: #000;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5rem; /* 114.286% */
}
@media only screen and (min-width: 1536px) {
  .main-about .usp h3 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .usp h3 {
    font-size: 1.5rem;
  }
}
.main-about .usp p {
  width: 62rem;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 154.545% */
}
@media only screen and (min-width: 1536px) {
  .main-about .usp p {
    width: 80rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .usp p {
    width: 20rem !important;
    text-align: left;
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 1200px) {
  .main-about .usp p {
    width: 50rem;
    font-size: 0.9rem;
  }
}
.main-about .usp .usp-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media only screen and (min-width: 1536px) {
  .main-about .usp .usp-wrapper {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .usp .usp-wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
.main-about .usp .usp-wrapper .card {
  width: calc(33% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.75869rem;
  background: #fff;
  box-shadow: 0px 0px 55.074px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  gap: 10px;
}
@media only screen and (max-width: 500px) {
  .main-about .usp .usp-wrapper .card {
    width: 100%;
    gap: 0;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1536px) {
  .main-about .usp .usp-wrapper .card {
    padding: 4rem;
  }
}
.main-about .usp .usp-wrapper .card img {
  width: 3rem;
  height: 3rem;
}
@media only screen and (min-width: 1536px) {
  .main-about .usp .usp-wrapper .card img {
    width: 5rem;
    height: 5rem;
  }
}
.main-about .usp .usp-wrapper .card h3 {
  color: var(--22, #003e71);
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.45994rem; /* 131.196% */
}
@media only screen and (min-width: 1536px) {
  .main-about .usp .usp-wrapper .card h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .usp .usp-wrapper .card h3 {
    font-size: 1rem;
  }
}
.main-about .usp .usp-wrapper .card p {
  width: 100%;
  color: black;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 150% */
}
@media only screen and (min-width: 1536px) {
  .main-about .usp .usp-wrapper .card p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .main-about .usp .usp-wrapper .card p {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .usp .usp-wrapper .card p {
    width: 100% !important;
    font-size: 0.75rem;
    text-align: left;
    line-height: 1.2rem;
  }
}
.main-about .team-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-about .team-section .wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: 5rem 5rem;
  padding-bottom: 3rem;
  background: url("/Rectangle 34625245.png");
  background-size: 100% 100%;
}
@media only screen and (min-width: 1536px) {
  .main-about .team-section .wrapper {
    padding: 10rem 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .team-section .wrapper {
    padding: 4rem 2rem;
    padding-bottom: 2rem;
    align-items: flex-start;
  }
}
.main-about .team-section .wrapper h3 {
  color: black;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 114.286% */
}
@media only screen and (min-width: 1536px) {
  .main-about .team-section .wrapper h3 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .team-section .wrapper h3 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
.main-about .team-section .wrapper h4 {
  color: black;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media only screen and (min-width: 1536px) {
  .main-about .team-section .wrapper h4 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .team-section .wrapper h4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.main-about .team-section .wrapper p {
  width: 50rem;
  color: black;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 145.455% */
}
@media only screen and (min-width: 1536px) {
  .main-about .team-section .wrapper p {
    width: 60rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-about .team-section .wrapper p {
    width: 20rem;
    font-size: 0.85rem;
    line-height: 1.2rem;
    text-align: left;
  }
}
.main-about .awards {
  width: 100%;
  max-width: 1500px;
  padding: 2rem 3rem;
}/*# sourceMappingURL=About.css.map */