.main-homeUSP{
    width: 100%;
    max-width: 1366px;
    min-height: 50rem;
    position: relative;
    background-color: white;
}
.homeUSP-left{
    width: calc(50% - 50px);
    height: 100%;
    position: absolute;
    left: 0;
    margin-left:1rem;
    padding: 2rem 5rem;
}
.homeUSP-right{
    width: calc(50% - 50px);
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 20px;
}
.homeUSP-left-content{
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.homeUSP-left-content h1{
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.44175rem; 
}
.homeUSP-left-content p{
    color: #1F1F1F;
    text-align: justify;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; 
}
.homeUSP-right-content{
    width: 100%;
    height: 12rem;
    border-radius: 1.28188rem;
    border-radius: 0.9375rem;
    background: var(--22, #003E71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3rem;
    gap: 20px;
}
.homeUSP-right-content h1{
    color: var(--11, #10C08E);
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.45994rem; 
}
.homeUSP-right-content p{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

/* Responsiveness -----------------> */
/* @media screen and (max-width:1400px) {
    .homeUSP-left-content h1{
        font-size: 3rem;
    }
    .homeUSP-left-content p{
        font-size: 1.15rem;
    }
    .homeUSP-right-content h1{
        font-size: 1.4rem;
    }
    .homeUSP-right-content p{
        font-size: 1rem;
    }
} */

@media screen and (min-width:1500px){
    .homeUSP-left-content h1{
        font-size: 3rem;
        line-height: 5rem;
    }
    .homeUSP-left-content p{
        font-size: 1.05rem;
        line-height: 2.125rem;
    }
    .homeUSP-right-content h1{
        font-size: 1.5rem;
        line-height: 2.45rem;
    }
    .homeUSP-right-content p{
        font-size: 1.05rem;
        line-height: normal;
    }
}

@media screen and (max-width:789px){
   .main-homeUSP{
    display: flex;
    position:unset;
    flex-direction: column;
   }
   .homeUSP-left{
    position: unset;
    width: 100%;
    padding: 0;
   }
   .homeUSP-right{
    position: unset;
    width: 100%;
   }
   .homeUSP-left h1{
    font-size: 2.5rem !important;
   }
   .homeUSP-left p{
    font-size: 1rem !important;
   }
}

@media screen and (max-width:480px){
    .homeUSP-left h1{
        font-size: 1.8rem !important;
    }
    .homeUSP-left p{
        font-size: 1rem !important;
    }
    .homeUSP-left-content{
        min-height: 20rem;
    }
    .homeUSP-right-content{
        padding: 0 1rem !important;
        gap: 10px;
        height: 12rem;
    }
    .homeUSP-right-content h1{
        font-size: 1.4rem !important;
    }
    .homeUSP-right-content p{
        font-size: 1rem !important;
    }
}