@import '../Css/mixin.scss';
.main-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner{
        width: 100%;
        height: calc(90vh - 100px);
        max-height: 55rem;
        background:linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F2F9FF 106.41%);;
        clip-path: ellipse(90% 100% at top);
        display: flex;
        justify-content: center;
        align-items: center;
          .wrapper{
            width: 100%;
            max-width: 1500px;
            height: 100%;
            padding: 4rem 5rem;
            display: flex;
            justify-content: center;
            align-items: center; 
            .cards{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card{
                width: calc(30% - 20px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:flex-start;
                gap: 12px;
                @include xxl{
                    gap: 30px;
                }
                .logo{
                    width: 3rem;
                    height: 3rem;
                    background-color: #e1f0fe;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    @include xxl{
                        width: 5rem;
                        height: 5rem;
                        font-size: 3rem;
                    }
                }
                h3{
                    color: var(--22, #003E71);
                    text-align: center;
                    font-family: Poppins;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.66669rem; /* 133.333% */
                    @include xxl{
                        font-size: 2.5rem;
                    }
                }
                p{
                    color: #5A7184;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 0.9rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.875rem; /* 150% */
                    text-align: left;
                    @include xxl{
                        font-size: 1.5rem;
                    }
                }
                .info{
                    color: var(--22, #003E71);
                    text-align: center;
                    font-family: Poppins;
                    font-size: 1.1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.26669rem; /* 164.848% */
                    @include xxl{
                        font-size: 1.8rem;
                    }
                }
                img{
                    width: 2rem;
                    @include xxl{
                        width: 3rem;
                    }
                }
                button{
                    width: 10rem;
                    height: 3rem;
                    color: var(--22, #003E71);
                    text-align: center;
                    font-family: Poppins;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    cursor: pointer;
                    background-color: inherit;
                    border-radius: 10px;
                    border: 1px solid #003E71;
                    outline: none;
                    @include xxl{
                        width: 15rem;
                        height: 5rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        }
    }

    .form-section{
        width: 100%;
        max-width: 1500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 5rem;
        .wrapper{
            width: 100%;
            display: flex;
            border-radius: 2.5625rem;
            background: #FFF;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
            .left{
                width: 50rem;
                height: 33rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                padding: 4rem 2rem;
                @include xxl{
                   height: 40rem;
                   gap: 20px;
                }
                padding: 4rem 3rem;
                h3{
                    width: 20rem;
                    color: #3F3F3F;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Poppins;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 5rem; /* 114.286% */
                    @include xxl{
                        width: 30rem;
                        font-size: 4rem;
                    }
                }
                p{
                    color: var(--Style, #131212);
                    font-family: Poppins;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 2.0625rem */
                    @include xxl{
                        font-size: 1.5rem;
                    }
                }
            }
            .right{
                width: 50rem;
                height: 33rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                padding: 4rem 2rem;
                @include xxl{
                    height: 40rem;
                    gap: 20px;
                }

                label{
                    color: var(--Style, #131212);
                    font-family: Poppins;
                    font-size: 0.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 1.6875rem */
                    @include xxl{
                        font-size: 1.2rem;
                    }
                }

                input , textarea{
                    width: 70%;
                    height: 2rem;
                    border: none;
                    outline: none;
                    background-color: #f4f1f1d6;
                    padding-left: 1rem;
                    @include xxl{
                        height: 3rem;
                    }
                }
                textarea{
                    height: 4rem;
                    padding: 1rem;
                    @include xxl{
                        height: 5rem;
                    }
                }
                button{
                    width: 10rem;
                    height: 3rem;
                    background-color: #003E71;
                    border-radius: 7.8rem;
                    cursor: pointer;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 2.25rem */
                    margin-top: 1rem;
                    border: none;
                    outline: none;
                    @include xxl{
                        height: 4rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
   
}