@import "../Css/mixin.scss";
.main-contact {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  @include md {
    margin-top: 150px;
  }
  @include xxl {
    margin-top: 150px;
  }

  @include ph {
    overflow: hidden;
    margin-top: 100px;
  }

  .banner {
    width: 100%;
    // height: calc(90vh - 100px);
    // max-height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include ph {
      height: fit-content;
      clip-path: ellipse(122% 100% at top);
    }
    .wrapper {
      width: 100%;
      max-width: 1500px;
      height: 100%;
      padding: 4rem 5rem;
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include ph {
        padding: 4rem 2rem;
        padding-top: 0;
        flex-direction: column;
        gap: 30px;
      }
      @include xxl {
        padding-top: 4rem !important;
      }

      .left {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5rem;
        @include ph {
          width: 100%;
          padding: 0;
        }
        .cards {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
          @include ph {
            flex-direction: column;
            gap: 50px;
          }
          @include xxl {
            gap: 50px;
          }
          .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 12px;
            @include xxl {
              gap: 30px;
            }
            @include ph {
              width: 100%;
              align-items: center;
              gap: 10px;
            }
            .logo {
              width: 3rem;
              height: 3rem;
              background-color: #e1f0fe;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
              @include xxl {
                width: 5rem;
                height: 5rem;
                font-size: 3rem;
              }
              @include ph {
                width: 3rem;
                height: 3rem;
                font-size: 1.5rem;
              }
            }
            h3 {
              color: var(--22, #003e71);
              text-align: center;
              font-family: Poppins;
              font-size: 1.5rem;
              font-style: normal;
              font-weight: 500;
              line-height: 2.66669rem; /* 133.333% */
              @include xxl {
                font-size: 2.5rem;
              }
              @include ph {
                font-size: 1.25rem;
              }
            }
            p {
              color: #5a7184;
              text-align: center;
              font-family: Poppins;
              font-size: 0.9rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.875rem; /* 150% */
              text-align: left;
              @include xxl {
                font-size: 1.5rem;
              }
              @include ph {
                font-size: 0.8rem;
                line-height: 1.5rem;
                text-align: center;
              }
            }
            .info {
              color: var(--22, #003e71);
              text-align: center;
              font-family: Poppins;
              font-size: 1.1rem;
              font-style: normal;
              font-weight: 500;
              line-height: 2.26669rem; /* 164.848% */
              @include xxl {
                font-size: 1.8rem;
              }
              @include ph {
                font-size: 1rem;
              }
            }
            img {
              width: 2rem;
              @include xxl {
                width: 3rem;
              }
            }
            button {
              width: 10rem;
              height: 3rem;
              color: var(--22, #003e71);
              text-align: center;
              font-family: Poppins;
              font-size: 1rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              cursor: pointer;
              background-color: inherit;
              border-radius: 10px;
              border: 1px solid #003e71;
              outline: none;
              @include xxl {
                width: 15rem;
                height: 5rem;
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .right {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        @include ph {
          width: 100%;
          padding: 0;
        }
        .leaflet-container {
          width: 60rem;
          height: 30rem;
          @include xxl {
            height: 40rem;
          }
          @include ph {
            height: 20rem;
          }
        }
        .formMapContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
        }
      }
    }
  }

  .form-section {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 5rem;
    @include ph {
      padding: 4rem 1rem;
      padding-top: 2rem;
    }
    .gradient {
      position: absolute;
      top: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #f2f9ff 106.41%
      );
      clip-path: ellipse(90% 100% at top);
      z-index: -1;
    }
    .wrapper {
      width: 100%;
      display: flex;
      border-radius: 2.5625rem;
      background: #fff;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
      @include ph {
        flex-direction: column;
      }
      .left {
        width: 50rem;
        height: 33rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 4rem 2rem;
        @include xxl {
          height: 40rem;
          gap: 20px;
        }
        @include ph {
          width: 100%;
          padding: 4rem 1.5rem;
          height: 10rem;
        }
        padding: 4rem 3rem;
        h3 {
          width: 20rem;
          color: #3f3f3f;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Poppins;
          font-size: 3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 5rem; /* 114.286% */
          @include xxl {
            width: 30rem;
            font-size: 4rem;
          }
          @include ph {
            font-size: 1.375em;
          }
        }
        p {
          color: var(--Style, #131212);
          font-family: Poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 2.0625rem */
          @include xxl {
            font-size: 1.5rem;
          }
          @include ph {
            font-size: 0.8rem;
            margin-top: -1rem;
          }
        }
      }
      .right {
        width: 50rem;
        height: 33rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 4rem 2rem;
        @include xxl {
          height: 40rem;
          gap: 20px;
        }
        @include ph {
          height: fit-content;
          padding: 4rem 1.5rem;
        }

        label {
          color: var(--Style, #131212);
          font-family: Poppins;
          font-size: 0.8rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 1.6875rem */
          @include xxl {
            font-size: 1.2rem;
          }
        }

        input,
        textarea {
          width: 70%;
          height: 2rem;
          border: none;
          outline: none;
          background-color: #f4f1f1d6;
          padding-left: 1rem;
          @include xxl {
            height: 3rem;
          }
          @include ph {
            width: 38%;
          }
        }
        textarea {
          height: 4rem;
          padding: 1rem;
          @include xxl {
            height: 5rem;
          }
        }
        button {
          width: 10rem;
          height: 3rem;
          background-color: #003e71;
          border-radius: 7.8rem;
          cursor: pointer;
          color: #fff;
          font-family: Poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 2.25rem */
          margin-top: 1rem;
          border: none;
          outline: none;
          @include xxl {
            height: 4rem;
            font-size: 1.3rem;
          }
          @include ph {
            width: 8rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
}
