.main-contact {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media only screen and (max-width: 900px) {
  .main-contact {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 1536px) {
  .main-contact {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact {
    overflow: hidden;
    margin-top: 100px;
  }
}
.main-contact .banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 769px) {
  .main-contact .banner {
    height: -moz-fit-content;
    height: fit-content;
    -webkit-clip-path: ellipse(122% 100% at top);
            clip-path: ellipse(122% 100% at top);
  }
}
.main-contact .banner .wrapper {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  padding: 4rem 5rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper {
    padding: 4rem 2rem;
    padding-top: 0;
    flex-direction: column;
    gap: 30px;
  }
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper {
    padding-top: 4rem !important;
  }
}
.main-contact .banner .wrapper .left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left {
    width: 100%;
    padding: 0;
  }
}
.main-contact .banner .wrapper .left .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left .cards {
    flex-direction: column;
    gap: 50px;
  }
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards {
    gap: 50px;
  }
}
.main-contact .banner .wrapper .left .cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card {
    gap: 30px;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left .cards .card {
    width: 100%;
    align-items: center;
    gap: 10px;
  }
}
.main-contact .banner .wrapper .left .cards .card .logo {
  width: 3rem;
  height: 3rem;
  background-color: #e1f0fe;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card .logo {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left .cards .card .logo {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
.main-contact .banner .wrapper .left .cards .card h3 {
  color: var(--22, #003e71);
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.66669rem; /* 133.333% */
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left .cards .card h3 {
    font-size: 1.25rem;
  }
}
.main-contact .banner .wrapper .left .cards .card p {
  color: #5a7184;
  text-align: center;
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
  text-align: left;
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left .cards .card p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: center;
  }
}
.main-contact .banner .wrapper .left .cards .card .info {
  color: var(--22, #003e71);
  text-align: center;
  font-family: Poppins;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.26669rem; /* 164.848% */
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card .info {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .left .cards .card .info {
    font-size: 1rem;
  }
}
.main-contact .banner .wrapper .left .cards .card img {
  width: 2rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card img {
    width: 3rem;
  }
}
.main-contact .banner .wrapper .left .cards .card button {
  width: 10rem;
  height: 3rem;
  color: var(--22, #003e71);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #003e71;
  outline: none;
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .left .cards .card button {
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
  }
}
.main-contact .banner .wrapper .right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .right {
    width: 100%;
    padding: 0;
  }
}
.main-contact .banner .wrapper .right .leaflet-container {
  width: 60rem;
  height: 30rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .banner .wrapper .right .leaflet-container {
    height: 40rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .banner .wrapper .right .leaflet-container {
    height: 20rem;
  }
}
.main-contact .banner .wrapper .right .formMapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.main-contact .form-section {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 5rem;
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section {
    padding: 4rem 1rem;
    padding-top: 2rem;
  }
}
.main-contact .form-section .gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f2f9ff 106.41%);
  -webkit-clip-path: ellipse(90% 100% at top);
          clip-path: ellipse(90% 100% at top);
  z-index: -1;
}
.main-contact .form-section .wrapper {
  width: 100%;
  display: flex;
  border-radius: 2.5625rem;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper {
    flex-direction: column;
  }
}
.main-contact .form-section .wrapper .left {
  width: 50rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 4rem 2rem;
  padding: 4rem 3rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .left {
    height: 40rem;
    gap: 20px;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper .left {
    width: 100%;
    padding: 4rem 1.5rem;
    height: 10rem;
  }
}
.main-contact .form-section .wrapper .left h3 {
  width: 20rem;
  color: #3f3f3f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem; /* 114.286% */
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .left h3 {
    width: 30rem;
    font-size: 4rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper .left h3 {
    font-size: 1.375em;
  }
}
.main-contact .form-section .wrapper .left p {
  color: var(--Style, #131212);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.0625rem */
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .left p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper .left p {
    font-size: 0.8rem;
    margin-top: -1rem;
  }
}
.main-contact .form-section .wrapper .right {
  width: 50rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 4rem 2rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .right {
    height: 40rem;
    gap: 20px;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper .right {
    height: -moz-fit-content;
    height: fit-content;
    padding: 4rem 1.5rem;
  }
}
.main-contact .form-section .wrapper .right label {
  color: var(--Style, #131212);
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.6875rem */
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .right label {
    font-size: 1.2rem;
  }
}
.main-contact .form-section .wrapper .right input,
.main-contact .form-section .wrapper .right textarea {
  width: 70%;
  height: 2rem;
  border: none;
  outline: none;
  background-color: rgba(244, 241, 241, 0.8392156863);
  padding-left: 1rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .right input,
  .main-contact .form-section .wrapper .right textarea {
    height: 3rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper .right input,
  .main-contact .form-section .wrapper .right textarea {
    width: 38%;
  }
}
.main-contact .form-section .wrapper .right textarea {
  height: 4rem;
  padding: 1rem;
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .right textarea {
    height: 5rem;
  }
}
.main-contact .form-section .wrapper .right button {
  width: 10rem;
  height: 3rem;
  background-color: #003e71;
  border-radius: 7.8rem;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.25rem */
  margin-top: 1rem;
  border: none;
  outline: none;
}
@media only screen and (min-width: 1536px) {
  .main-contact .form-section .wrapper .right button {
    height: 4rem;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 769px) {
  .main-contact .form-section .wrapper .right button {
    width: 8rem;
    height: 2.5rem;
  }
}/*# sourceMappingURL=Contact.css.map */