@import "../Css/mixin.scss";
.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 99999 !important;
  background-color: white;
  @include md {
    height: 150px;
  }
  @include xxl {
    height: 150px;
  }
  @include sm {
    height: 100px;
  }
  .wrapper {
    max-width: 1500px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    @include xxl {
      padding: 0 5rem;
    }
    img {
      width: 150px;
      height: 50px;
      flex-shrink: 0;
      @include xxl {
        height: 80px;
      }
      @include md {
        width: 180px;
        height: 70px;
      }
      @include sm {
        width: 100px;
        height: 50px;
      }
    }
    .links {
      @include md {
        display: none;
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        li {
          cursor: pointer;
          color: var(--22, #003e71);
          font-family: Poppins;
          font-size: 0.8rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.75rem; /* 220% */
          @include xxl {
            font-size: 1rem;
          }
        }
        li:hover {
          font-weight: bolder;
        }
        .contactLink {
          width: 5.5rem;
          height: 2rem;
          flex-shrink: 0;
          border-radius: 1.25rem;
          background: var(--22, #003e71);
          color: #fff;
          font-family: Poppins;
          font-size: 0.8rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.75rem; /* 220% */
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .hamBurger {
      width: 6rem;
      height: 4rem;
      background-color: #003e71;
      border-radius: 0.3rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      @include mds {
        display: none;
      }
      @include sm {
        width: 3rem;
        height: 2rem;
        gap: 5px;
      }

      .line {
        width: 70%;
        height: 5px;
        background-color: white;
        border-radius: 10px;
        @include sm {
          height: 2px;
        }
      }
    }

    .hamMenu {
      width: 50%;
      height: 70vh;
      background-color: white;
      position: fixed;
      left: 0;
      top: 150px;
      z-index: 999;
      @include mds {
        display: none;
      }
      @include sm {
        width: 80%;
        top: 99px;
      }
      .ham-links {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3rem;
        @include sm {
          padding: 3rem 1rem;
        }
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;
          // z-index: 1000;
          li {
            font-size: 1.5rem;
            @include sm {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .slide {
      left: -100%;
      animation: slide 1s ease;
      @keyframes slide {
        0% {
          left: 0;
        }
        100% {
          left: -100%;
        }
      }
    }
    .slideB {
      left: 0%;
      animation: slideB 1s ease;
      @keyframes slideB {
        0% {
          left: -100%;
        }
        100% {
          left: 0;
        }
      }
    }
  }
}
