.awd{
    display: flex;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1520px;
}
.awd>img{
    width: 5rem;
    height: 5rem;
}
.awd-cnt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}