@import '../Css/mixin.scss';
.main-media{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sm{
        overflow: hidden;
    }

    .banner{
        width: 100%;
        max-height: 55rem;
        height: calc(100vh - 100px);
        background: url("/public/MediaBan.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sm{
            height: 20rem;
        }

        img{
            width: 5rem;
            height: 5rem;
            cursor: pointer;
        }
    }

    .info{
        width: 100%;
        background-color: #003E71;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper{
            width: 100%;
            max-width: 1500px;
            padding: 4rem 7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include xxl{
                padding: 5rem 3rem;
            }
            @include sm{
                padding: 3rem 2rem;
                flex-direction: column;
                gap: 5px;
            }
            h3{
                width: 60rem;
                color: #FFF;
                font-family: Poppins;
                font-size: 2rem;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 5.6875rem */
                @include xxl{
                    font-size: 4rem;
                    line-height: 5rem;
                }
                @include sm{
                    width: 100%;
                    font-size: 1.25rem;
                    line-height: 1.8rem;
                }
            }
            p{
                width: 30rem;
                color: #FFF;
                font-family: Poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include xxl{
                    font-size: 1.375rem;
                    line-height: normal;
                }
                @include sm{
                    width: 100%;
                    font-size: 0.75rem;
                }
            }
        }
    }

    .images-section{
         width: 100%;
         max-width: 1500px;
         padding: 4rem 3rem;
          display: flex;
         flex-direction: column;
          justify-content: center;
         align-items: center;
         gap: 50px;
         @include xxl{
            padding: 4rem 0;
         }
         .row-1{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
             justify-content: center;
             gap: 30px;
             align-items: center;
            img{
                width: calc(30% - 20px);
                height: 20rem;
                object-fit: cover;
                border-radius: 10px;
                @include xxl{
                   height: 30rem;
                }
            }
         }
         .row-2,.row-5{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
             justify-content: center;
             align-items: center;
            img{
                width: 90%;
                height: 20rem;
                object-fit: cover;
                border-radius: 10px;
                @include xxl{
                    height: 30rem;
                 }
            }
         }

         .row-3{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
             justify-content: center;
             gap: 30px;
             align-items: center;
            img{
                width: calc(30% - 20px);
                height: 20rem;
                object-fit: cover;
                border-radius: 10px;
                @include xxl{
                    height: 30rem;
                 }
            }
         }
         .row-4{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
             justify-content: center;
             gap: 30px;
             align-items: center;
            img{
                width: calc(30% - 20px);
                height: 20rem;
                object-fit: cover;
                border-radius: 10px;
                @include xxl{
                    height: 30rem;
                 }
            }
         }
    }

    .ph-img-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 1rem;
        gap: 20px;
        .row-1,.row-3,.row-5{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: calc(50% - 10px);
                height: 15rem;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .row-2,.row-4{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 15rem;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .btn{
        width: 100%;
        max-width: 1500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
        @include sm{
            padding-bottom: 3rem;
        }
        button{
            width: 150px;
            height: 50px;
            flex-shrink: 0;
            border-radius: 1.875rem;
            background: var(--11, #10C08E);
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: -30px;
            @include sm{
                width: 120px;
                height: 40px;
                font-size: 1rem;
            }
        }
     }
}