@import "../Css/mixin.scss";
.main-footer {
  width: 100%;
  background: #002849;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 100%;
    max-width: 1366px;
    padding: 4rem 3rem;
    display: flex;
    @include xxl {
      padding: 4rem 0;
    }
    @include md {
      flex-direction: column;
      gap: 50px;
    }
    .row-1 {
      width: 45rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include md {
        width: 100%;
      }
      @include sm {
        flex-wrap: wrap;
        gap: 50px;
      }
      .col-1 {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        @include md {
          width: 50%;
        }
        @include sm {
          width: 100%;
        }
        p {
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: 1.875rem; /* 166.667% */
        }
        .social-links {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 30px;
          .circle {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 50%;
            color: #10c08e;
            cursor: pointer;
          }
        }
      }
      .col-2 {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 13px;
        padding-left: 5rem;
        @include lg {
          width: 45%;
        }
        @include md {
          width: 40%;
          padding-left: 2rem;
        }
        @include sm {
          width: 100%;
          padding-left: 0;
        }
        h3 {
          color: #fff;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.8155rem; /* 204.764% */
        }
        li {
          list-style: none;
          cursor: pointer;
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: 2.8155rem; /* 250.267% */
        }
      }
    }

    .row-2 {
      width: 35rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include md {
        width: 100%;
      }
      @include sm {
        flex-wrap: wrap;
        gap: 50px;
      }
      .col-2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding-left: 5rem;
        @include md {
          padding-left: 0;
        }
        @include sm {
          width: 100% !important;
          padding-left: 0 !important;
        }
        h3 {
          color: #fff;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.8155rem; /* 204.764% */
        }
        li {
          list-style: none;
          cursor: pointer;
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: 1.5rem; /* 250.267% */
        }
      }
    }
  }

  .border {
    width: 100%;
    max-width: 1366px;
    padding: 3rem 3rem;
    @include sm {
      padding: 0 3rem 3rem 3rem;
    }
    .line {
      width: 100%;
      background-color: white;
      height: 2px;
      border-radius: 10px;
    }
  }

  .copyright {
    width: 100%;
    padding: 0 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #fff;
      font-family: Poppins;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.16669rem; /* 230.303% */
      @include sm {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}
