.all-container{
  width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #002849;
}
.ProductSection{
   width: 100%;
   /* max-width: 1500px; */
   padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
    font-family: poppins;
    

    width: 100%;
    align-items: center;
    justify-content: center;
    
    
}
.health-magic{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.health-magic-info{
  width: 40rem;
}
.health-magic>img{
    width: 30rem;
    border-radius: 15px;
}
.health-magic-info-btn>button{  
    width: 7rem;
    border-radius: 15px;
    padding: 10p;
    padding: 5px;
    background: #10C08E;
    color: white;
    border: none;
    cursor: pointer;
}




.r-container2 {
    gap: 2rem;
    width: 95%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .r-head2{
    margin-bottom: 0rem;
  }
  .r-card2{
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  
  
  
  #residencies2 .r-container2 .swiper-horizontal{
    overflow: hidden;
    width: 100%;
    position: relative;
   
  }

  
  
  .health-magic{
    display: flex;
    gap: 3rem;
    max-width: 1500px
  }
  .product-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
   
  }
  #residencies2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1520px;

  }
   #residencies2 .r-container2 .swiper-horizontal .swiper-wrapper {
    height: 50vh;
  }
  #residencies2 .r-container2 .swiper-horizontal .swiper-wrapper .swiper-slide{
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}
 /* .swiper-horizontal .swiper-wrapper .swiper-slide-next{
    scale: 1.3;
    transition: transform 0.3s ease;
    
    
  } */
  .swiper-slide-next{
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
    scale: 1.3;
    transition: transform 0.3s ease;
  }
  /*  */
  /*  */
  .product-slider .swiper{
    width: 95%;
  }
.pas{
   display: flex;
    justify-content: center; 
    font-size: 2rem;
    gap: 1rem;
    line-height: 2.5rem;
}
.pas2{
  display: flex;
  color: #10C08E;
  font-size: 2rem;
}
.magic-title{
  color: rgb(16, 192, 142);
    font-size: 0.7rem;
}
.health-magin-info-title{
  font-size: 2rem;
   line-height: 2.5rem;
}
.e-d-h{
 
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
  
}
.pas-ch{
 
 margin-bottom: 3rem;
}
  @media screen and (min-width: 1500px) {
    #residencies2 .r-container2 .swiper-horizontal .swiper-wrapper .swiper-slide {
      width: 542.667px;
      margin-right: 109px
    }
    .r-card2{
      height: 15rem;
      justify-content: space-around;
    }
    .pas{
      font-size: 3.5rem;
      line-height: 4rem;
    
    }
    /* .pas-ch{
      margin-top: 6rem;
     margin-bottom: 6rem;
    } */
    .e-d-h{
      margin-top: 5rem;
    }
    .pas2{
      font-size: 3.5rem;
    }
    
  }
  @media screen and (min-width:1500px) {
      .health-magic > img{
        width: 38rem;
        height: 25rem;
        object-fit: cover
      }
      .health-magic-info{
        height: 25rem;
        display: flex !important;
        flex-direction: column !important;
        gap: 2.2rem !important;
        justify-content: flex-start !important;
        width: 50rem !important;
      }
      .magic-title{
         font-size: 1.25rem !important;
      }
      .health-magin-info-title{
        font-size: 3rem !important;
        line-height: 3.5rem !important; 
        width: 100% !important;
      }
      .health-magic-info-desc{
        font-size: 1rem !important;
      }
      .health-magic-info-btn button{
        width: 10rem !important;
        height: 3rem !important;
        font-size: 1.2rem !important;
      }
  }

  @media screen and (max-width:480px) {
    .all-container{
      width: 100%;
      margin-top: 10rem;
    }
    .ProductSection{
      width: 100%;
      padding: 1rem;
      margin-top: -15rem;
    }
    .health-magic{
      
      flex-direction: column;
    }
    .health-magic>img{
      width: 90vw;
    }
    .health-magic-info{
      width: 90vw;
    }
    .magic-title{
      font-size: 1.5rem;
    }
    .health-magin-info-title{
      font-size: 1rem;
    line-height: 2.5rem;
    display: flex;
    width: 100%;
    }
    .health-magic-info-btn>button{
      width: 8rem;
      padding: 10px;
    }
    .pas-ch{
      text-align: left;
      width: 100%;
      justify-content: left;
    }
    .pas{
      font-size: 1.2rem;
    }
    .pas2{
      font-size: 1.2rem;
    }
  }